* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  margin: 0px auto;
  max-width: 560px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  border-bottom: 4px solid hsl(0deg, 0%, 30%);
  padding: 24px;
}

.title {
  font-size: 1.5rem;
  padding-bottom: 24px;
  padding-top: 64px;
}

main {
  border-top: 64px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 60%);
  border-bottom: 64px solid hsl(0deg, 0%, 60%);
}

.card {
  background-color: white;
  padding: 8px 16px;
  font-size: 1rem;
  border-bottom: 4px solid hsl(0deg, 0%, 30%);
}

.indented-heading {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 36px;
  padding-right: 32px;
  margin-left: -20px;
  margin-right: 16px;
  margin-top: 0px;
  width: fit-content;
  height: auto;
  background-color: hsl(45deg, 100%, 50%);
  font-size: 1.25rem;
  border-bottom: 6px solid hsl(45deg, 100%, 40%);
}

.intro-chunk {
  margin-bottom: 8px;
  padding: 0 8px;
  font-size: 1.25rem;
  max-width: 350px;
}
